body {
    width: fit-content;
    height: 70vh;
    margin: 0 auto;
    margin-top: 4vh;
    position: relative;
}

header {
    background: lightblue;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.player-info {
    display: flex;
    justify-content: space-between;
}

#title {
    text-align: center;
    padding-top: 0.5em;
    margin-top: 0;
}

h4 {
    margin-left: 1em;
    margin-right: 1em;
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px 450px 200px;
    height: 600px;
}

aside {
    background-color: whitesmoke;
    width: 200px;
}

#canvas {
    height: 600px;
    width: 450px;
    background-color: white;
}

.screen {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 0);
    height: 300px;
    width: 400px;
    background: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    ;
}

#difficulties {
    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(50%, 0);
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: space-evenly;
}

#instructions {
    margin-top: -0.5em;
    height: 190px;
    padding: 0.5rem;
    overflow-y: scroll;
}

input {
    margin: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

label {
    align-self: flex-start;
    margin-left: 6em;
}

#turnChanger {
    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(50%, 0);
    transition: opacity 500ms ease;
    -moz-transition: opacity 500ms ease;
    -webkit-transition: opacity 500ms ease;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-bottom-right-radius: 6px;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom-left-radius: 6px;
}

#next {
    height: 200px;
    width: 100px;
    background-color: white;
    border-radius: 6px;
}

#next-up {
    margin: 3.5em 3.5em 5px 0;
}

.modes {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

.buttonBox {
    text-align: center;
    margin-bottom: 1rem;
}

button {
    width: fit-content;
    min-width: 80px;
    padding: 0.5rem;
    background-color: cornflowerblue;
    border: 2px solid cornsilk;
    color: cornsilk;
    margin: 3px;
    border-radius: 4px;
    ;
}

#difficulties button {
    margin: 1rem;
}

#menu {
    margin-bottom: 2rem;
}

#instructions,
.modeBtn {
    width: fit-content;
}

.hide {
    visibility: hidden;
}