html {
    height: 100vh;
    background-color: rgba(105, 139, 170, 0.87);
}

body {
    width: 852px;
    height: 70vh;
    margin: 0 auto;
    margin-top: 1em;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: cornsilk;
}

header {
    background: rgba(16, 253, 87, 0.712);
    background-image: url('../imgs/foliage.png');
    background-position: top;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.player-info {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem 0 2rem;
}

#title {
    text-align: center;
    padding-top: 0.5em;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 3em;
    font-family: 'Londrina Sketch', cursive;
    letter-spacing: 4px;
}

h4 {
    margin-left: 1em;
    margin-right: 1em;
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 200px 450px 200px;
    height: 600px;
}

aside {
    background-color: rgba(59, 30, 3, 0.616);
    background-image: url('../imgs/bark.jpg');
    width: 200px;
}

#canvas {
    height: 600px;
    width: 450px;
    background-color: rgba(59, 30, 3, 0.795);
}

.screen {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 0%);
    height: 300px;
    width: 400px;
    background: rgba(16, 253, 87, 0.712);
    background-image: url('../imgs/foliage.png');
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

#difficulties {
    position: absolute;
    top: 45%;
    right: 50%;
    transform: translate(50%, 0);
    display: flex;
    width: fit-content;
    height: fit-content;
    justify-content: space-evenly;
}

#instructions {
    margin-top: -0.5em;
    height: 190px;
    padding: 0.5rem;
    overflow-y: scroll;
    background: rgba(54, 55, 56, 0.5);
    color: rgb(221, 217, 197);
}

input {
    margin: 0.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

label {
    align-self: flex-start;
    margin-left: 6em;
}

#turnChanger {
    position: absolute;
    top: 45%;
    right: 50%;
    text-align: center;
    transform: translate(50%, 0);
    transition: opacity 1s ease;
    -moz-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}

#right {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-left: 2px solid rgb(39, 24, 13);
    border-bottom-right-radius: 6px;
    background-position: right;
}

#left {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: 2px rgb(39, 24, 13) solid;
    border-bottom-left-radius: 6px;
    background-position: left;
}

#next,
#powerUp {
    height: 200px;
    width: 100px;
    background-color: rgba(59, 30, 3, 0.795);
    border-radius: 6px;
    border: 2px solid rgb(39, 24, 13);
}

#next-up {
    margin: 3.5em 3.5em 5px 0;
}

.modes {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

.buttonBox {
    text-align: center;
    margin-bottom: 1rem;
}

button {
    width: fit-content;
    min-width: 80px;
    padding: 0.5rem;
    background-color: rgb(9, 110, 55);
    border: 2px solid cornsilk;
    color: cornsilk;
    margin: 3px;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}

.selected {
    background-color: rgba(16, 253, 87, 0.712);
}

input:focus,
button:focus {
    outline: none;
}

#difficulties button {
    margin: 1rem;
}

#menu {
    margin-bottom: 2rem;
}

#instructions,
.modeBtn {
    width: fit-content;
}

.hide {
    visibility: hidden;
}