body {
    width: 60vw;
    height: 70vh;
    margin: 0 auto;
    margin-top: 7vh;
    position: relative;
}

header {
    border: 2px solid lightpink;
}

.player-info {
    display: flex;
    justify-content: space-between;
}

#title {
    text-align: center;
    margin-top: 0.5em;
}

h4 {
    margin-left: 1em;
    margin-right: 1em;
}

main {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 450px 1fr;
    height: 600px;
}

aside {
    background-color: whitesmoke;
}

#canvas {
    height: 600px;
    width: 450px;
}

.screen {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 0);
    height: 300px;
    width: 400px;
    background: burlywood;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

#left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.modes {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
}

.buttonBox {
    text-align: center;
}

button {
    width: 10vh;
    padding: 0.5rem;
    background-color: cornflowerblue;
    border: 2px solid cornsilk;
    color: cornsilk;
    margin: 3px;
}

#menu {
    margin-bottom: 2rem;
}

#instructions,
.modeBtn {
    width: fit-content;
}

.hide {
    visibility: hidden;
}